<h2>Login</h2>

<div class="container">

  <div *ngIf="message" class="alert alert-danger" role="alert">
    {{message}}
  </div>

  <form (ngSubmit)="loginUser(user)" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="name" class="sr-only">Username</label>
    <input type="name" id="name" class="form-control" placeholder="Username" [(ngModel)]="user.name" name="name" required="" autofocus="">
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required="">
    
    <!--<div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>-->

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>