<div class="container" id="dashboard">

  <h2>Dashboard</h2>

  <h4>Environment</h4>

  <div class="row" id="gauges">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Air Temperature
        </div>
        <div class="card-block">
          <h4 class="card-title">{{ airTemperature }}&#8451;</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Water Temperature
        </div>
        <div class="card-block">
          <h4 class="card-title">{{ waterTemperature }}&#8451;</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Relative Humidity
        </div>
        <div class="card-block">
          <h4 class="card-title">{{ humidity }}%</h4>
        </div>
      </div>
    </div>
  </div>

  <h4>Power</h4>
  <div class="row" id="power">
    <!--<li *ng-for="#n of names"><input type="text" [(ng-model)]="n.name">{{n.name}}</li>-->
    <!--<div class="col" *ngFor="let relay of relayStatus; let idx = index">-->
      <!--<p-inputSwitch (onChange)="toggleRelay($event, [idx])" [(ngModel)]="relayStatus[idx]" name="relay{{idx}}"></p-inputSwitch>-->
    <!--</div>-->

    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 0)" [(ngModel)]="relayStatus && relayStatus[0]" name="relay0"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 1)" [(ngModel)]="relayStatus && relayStatus[1]" name="relay1"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 2)" [(ngModel)]="relayStatus && relayStatus[2]" name="relay2"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 3)" [(ngModel)]="relayStatus && relayStatus[3]" name="relay3"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 4)" [(ngModel)]="relayStatus && relayStatus[4]" name="relay4"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 5)" [(ngModel)]="relayStatus && relayStatus[5]" name="relay5"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 6)" [(ngModel)]="relayStatus && relayStatus[6]" name="relay6"></p-inputSwitch>
    </div>
    <div class="col">
      <p-inputSwitch (onChange)="toggleRelay($event, 7)" [(ngModel)]="relayStatus && relayStatus[7]" name="relay7"></p-inputSwitch>
    </div>

  </div>

</div>