<div class="container" id="settings">

  <div class="row" id="gauges">
    <div class="col">
      <div class="card">
        <h4 class="card-header">System</h4>
        <div class="card-block">
          <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="gauges">
    <div class="col">
      <div class="card">
        <h4 class="card-header">Timers</h4>
        <div class="card-block">
          <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="gauges">
    <div class="col">
      <div class="card">
        <h4 class="card-header">Logging</h4>
        <div class="card-block">
          <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

</div>
