<div class="container" id="settings">

  <div class="row" id="system">
    <div class="col">
      <div class="card">
        <h5 class="card-header">System</h5>
        <div class="card-block">
          <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="timers">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Timers</h5>
        <div class="card-block">
          <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="logging">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Logging</h5>
        <div class="card-block">
          <h4 class="card-title"></h4>
        </div>
      </div>
    </div>
  </div>

</div>
